body {
  background: rgb(20,20,20);
}

#header {
  text-align: center;
  background: rgb(0, 161, 255);
  color: white;
  padding: 10px 0px;
}

.navbar-nav #menu, .difficulty { 
 background: white;
 color: rgb(0, 161, 255);
 border: 0px;
}

.navbar {
  background: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

#gameroom {
  padding: 5%;
}


/*.color {
  margin: 1%;
  padding: 5%;
  max-width: 20%;
}*/

#color-1 {
  background: rgb(200, 50, 25);
}

#color-2 {
  background: rgb(100, 210, 120);
}

#color-3 {
  background: rgb(50, 100, 200);
}

#color-4 {
  background: rgb(10, 200, 200);
}

#color-5 {
  background: rgb(240, 10, 240);
}

#color-6 {
  background: rgb(10, 20, 10);
}
